*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside{
    width: 270px;
    height: 470px;
    background-color: blue;
}
.imagem{
    display: block;
    height: 200px;
    width: 200px;
    color:white;
}
