*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header{
    display: block;
    background-color: aquamarine;
    float: left;
    height: 400px;
    width: 100%;
    background-image: url(https://storage.googleapis.com/novo-blog-wordpress/2023/04/94297833-capa-blog_sociologia-do-trabalho.jpg);
}

.linha{
    display: block;
    background-color: blue;
    height: 30px;
    width: 100%;
}

/*texto 150, 200/*/

header h1{
    text-align: center;
    padding-top: 133px;
    font-size: 75px;

}

h2{
    text-align: center;
    padding-top: 0px;
    font-size: 29x;
}

.p1{
    text-align: center;
    word-spacing: 7px;
    font-size: 17px;
    padding-top: 120px;
    color: white;
}

    

.marx{
    width: 170px;
    height: 120px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    
}
.social{
    width: 300px;
    height: auto;
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}
.grande{
    background-color: rgb(44, 147, 147);
    height: 200px;
    width: 550px;
    margin: 10px;
    right: 300px;
}
.pequeno{
    display: block;
    background-color:  rgb(94, 209, 213);
    height:270px ;
    width: 268px;
    margin-top:400px;
    margin-left: 20px;
  
}


.marxis{
    padding-top: 20px;
    font-size: smaller;

}
.saiba{
    display: block;
    margin-left: 470px;
    
    
    
}
.saiba2{
    position: relative;
   font-size: x-small;
    width: 50px;
    left: 190px;

}
 .pequeno2{
    display: block;
    background-color:  rgb(94, 209, 213);
    height:270px ;
    width: 268px;
    margin-top:-270px;
    margin-left: 300px;
   
  
}
.maisar{
    background-color: rgb(69, 109, 217);
    position: relative;
    bottom:-4px;
    height: 20px;
    width: 220px;
    left: 15px;
    border: none;
    
}
li{
    font-size:small;
    position: relative;
    left: 30px;
    bottom: -6px;
}

aside{
    width: 270px;
    height: 470px;
    background-color: blue;
    top: auto;

}