*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    display: block;
    background-color: aquamarine;
    float: left;
    height: 400px;
    width: 100%;
}

/*texto/*/

h1{
    text-align: center;
    padding-top: 151px;
    font-size: 75px;

}